In [136]:
import pandas as pd
import numpy as np

In [137]:
feature_names = ["Sample code number", "Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion", "Single Epithelial Cell Size", "Bare Nuclei", "Bland Chromatin", "Normal Nucleoli", "Mitoses", "Class"]

In [138]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data")

In [139]:
df.columns = feature_names

In [140]:
df = df.apply(lambda x: pd.to_numeric(x, errors="coerce"))
df = df.apply(lambda x: x.replace(np.nan, x.mean()))
df

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10.000000,3,2,1,2
1,1015425,3,1,1,1,2,2.000000,3,1,1,2
2,1016277,6,8,8,1,3,4.000000,3,7,1,2
3,1017023,4,1,1,3,2,1.000000,3,1,1,2
4,1017122,8,10,10,8,7,10.000000,9,7,1,4
5,1018099,1,1,1,1,2,10.000000,3,1,1,2
6,1018561,2,1,2,1,2,1.000000,3,1,1,2
7,1033078,2,1,1,1,2,1.000000,1,1,5,2
8,1033078,4,2,1,1,2,1.000000,2,1,1,2
9,1035283,1,1,1,1,1,1.000000,3,1,1,2
10,1036172,2,1,1,1,2,1.000000,2,1,1,2
11,1041801,5,3,3,3,2,3.000000,4,4,1,4
12,1043999,1,1,1,1,2,3.000000,3,1,1,2
13,1044572,8,7,5,10,7,9.000000,5,5,4,4
14,1047630,7,4,6,4,6,1.000000,4,3,1,4
15,1048672,4,1,1,1,2,1.000000,2,1,1,2
16,1049815,4,1,1,1,2,1.000000,3,1,1,2
17,1050670,10,7,7,6,4,10.000000,4,1,2,4
18,1050718,6,1,1,1,2,1.000000,3,1,1,2
19,1054590,7,3,2,10,5,10.000000,5,4,4,4
20,1054593,10,5,5,3,6,7.000000,7,10,1,4
21,1056784,3,1,1,1,2,1.000000,2,1,1,2
22,1057013,8,4,5,1,2,3.548387,7,3,1,4
23,1059552,1,1,1,1,2,1.000000,3,1,1,2
24,1065726,5,2,3,4,2,7.000000,3,6,1,4
25,1066373,3,2,1,1,1,1.000000,2,1,1,2
26,1066979,5,1,1,1,2,1.000000,2,1,1,2
27,1067444,2,1,1,1,2,1.000000,2,1,1,2
28,1070935,1,1,3,1,2,1.000000,1,1,1,2
29,1070935,3,1,1,1,1,1.000000,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
668,1350423,5,10,10,8,5,5.000000,7,10,1,4
669,1352848,3,10,7,8,5,8.000000,7,4,1,4
670,1353092,3,2,1,2,2,1.000000,3,1,1,2
671,1354840,2,1,1,1,2,1.000000,3,1,1,2
672,1354840,5,3,2,1,3,1.000000,1,1,1,2
673,1355260,1,1,1,1,2,1.000000,2,1,1,2
674,1365075,4,1,4,1,2,1.000000,1,1,1,2
675,1365328,1,1,2,1,2,1.000000,2,1,1,2
676,1368267,5,1,1,1,2,1.000000,1,1,1,2
677,1368273,1,1,1,1,2,1.000000,1,1,1,2
678,1368882,2,1,1,1,2,1.000000,1,1,1,2
679,1369821,10,10,10,10,5,10.000000,10,10,7,4
680,1371026,5,10,10,10,4,10.000000,5,6,3,4
681,1371920,5,1,1,1,2,1.000000,3,2,1,2
682,466906,1,1,1,1,2,1.000000,1,1,1,2
683,466906,1,1,1,1,2,1.000000,1,1,1,2
684,534555,1,1,1,1,2,1.000000,1,1,1,2
685,536708,1,1,1,1,2,1.000000,1,1,1,2
686,566346,3,1,1,1,2,1.000000,2,3,1,2
687,603148,4,1,1,1,2,1.000000,1,1,1,2
688,654546,1,1,1,1,2,1.000000,1,1,8,2
689,654546,1,1,1,3,2,1.000000,1,1,1,2
690,695091,5,10,10,5,4,5.000000,4,4,1,4
691,714039,3,1,1,1,2,1.000000,1,1,1,2
692,763235,3,1,1,1,2,1.000000,2,1,2,2
693,776715,3,1,1,1,3,2.000000,1,1,1,2
694,841769,2,1,1,1,2,1.000000,1,1,1,2
695,888820,5,10,10,3,7,3.000000,8,10,2,4
696,897471,4,8,6,4,3,4.000000,10,6,1,4
697,897471,4,8,8,5,4,5.000000,10,4,1,4

In [141]:
df["Class"] = df["Class"].apply(lambda x: 0 if x == 2 else 1)
df

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10.000000,3,2,1,0
1,1015425,3,1,1,1,2,2.000000,3,1,1,0
2,1016277,6,8,8,1,3,4.000000,3,7,1,0
3,1017023,4,1,1,3,2,1.000000,3,1,1,0
4,1017122,8,10,10,8,7,10.000000,9,7,1,1
5,1018099,1,1,1,1,2,10.000000,3,1,1,0
6,1018561,2,1,2,1,2,1.000000,3,1,1,0
7,1033078,2,1,1,1,2,1.000000,1,1,5,0
8,1033078,4,2,1,1,2,1.000000,2,1,1,0
9,1035283,1,1,1,1,1,1.000000,3,1,1,0
10,1036172,2,1,1,1,2,1.000000,2,1,1,0
11,1041801,5,3,3,3,2,3.000000,4,4,1,1
12,1043999,1,1,1,1,2,3.000000,3,1,1,0
13,1044572,8,7,5,10,7,9.000000,5,5,4,1
14,1047630,7,4,6,4,6,1.000000,4,3,1,1
15,1048672,4,1,1,1,2,1.000000,2,1,1,0
16,1049815,4,1,1,1,2,1.000000,3,1,1,0
17,1050670,10,7,7,6,4,10.000000,4,1,2,1
18,1050718,6,1,1,1,2,1.000000,3,1,1,0
19,1054590,7,3,2,10,5,10.000000,5,4,4,1
20,1054593,10,5,5,3,6,7.000000,7,10,1,1
21,1056784,3,1,1,1,2,1.000000,2,1,1,0
22,1057013,8,4,5,1,2,3.548387,7,3,1,1
23,1059552,1,1,1,1,2,1.000000,3,1,1,0
24,1065726,5,2,3,4,2,7.000000,3,6,1,1
25,1066373,3,2,1,1,1,1.000000,2,1,1,0
26,1066979,5,1,1,1,2,1.000000,2,1,1,0
27,1067444,2,1,1,1,2,1.000000,2,1,1,0
28,1070935,1,1,3,1,2,1.000000,1,1,1,0
29,1070935,3,1,1,1,1,1.000000,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
668,1350423,5,10,10,8,5,5.000000,7,10,1,1
669,1352848,3,10,7,8,5,8.000000,7,4,1,1
670,1353092,3,2,1,2,2,1.000000,3,1,1,0
671,1354840,2,1,1,1,2,1.000000,3,1,1,0
672,1354840,5,3,2,1,3,1.000000,1,1,1,0
673,1355260,1,1,1,1,2,1.000000,2,1,1,0
674,1365075,4,1,4,1,2,1.000000,1,1,1,0
675,1365328,1,1,2,1,2,1.000000,2,1,1,0
676,1368267,5,1,1,1,2,1.000000,1,1,1,0
677,1368273,1,1,1,1,2,1.000000,1,1,1,0
678,1368882,2,1,1,1,2,1.000000,1,1,1,0
679,1369821,10,10,10,10,5,10.000000,10,10,7,1
680,1371026,5,10,10,10,4,10.000000,5,6,3,1
681,1371920,5,1,1,1,2,1.000000,3,2,1,0
682,466906,1,1,1,1,2,1.000000,1,1,1,0
683,466906,1,1,1,1,2,1.000000,1,1,1,0
684,534555,1,1,1,1,2,1.000000,1,1,1,0
685,536708,1,1,1,1,2,1.000000,1,1,1,0
686,566346,3,1,1,1,2,1.000000,2,3,1,0
687,603148,4,1,1,1,2,1.000000,1,1,1,0
688,654546,1,1,1,1,2,1.000000,1,1,8,0
689,654546,1,1,1,3,2,1.000000,1,1,1,0
690,695091,5,10,10,5,4,5.000000,4,4,1,1
691,714039,3,1,1,1,2,1.000000,1,1,1,0
692,763235,3,1,1,1,2,1.000000,2,1,2,0
693,776715,3,1,1,1,3,2.000000,1,1,1,0
694,841769,2,1,1,1,2,1.000000,1,1,1,0
695,888820,5,10,10,3,7,3.000000,8,10,2,1
696,897471,4,8,6,4,3,4.000000,10,6,1,1
697,897471,4,8,8,5,4,5.000000,10,4,1,1

In [148]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df.ix[:, 1:10], df.ix[:, 10], test_size=0.25, random_state=214)

In [150]:
Y_train.value_counts()

0    345
1    178
Name: Class, dtype: int64

In [154]:
for cn in X_test.columns:
    print(cn,"\n",X_test[cn].value_counts(), "\n")

Clump Thickness
 5     36
1     28
10    21
3     21
4     18
2     18
6     13
8     10
9      5
7      5
Name: Clump Thickness, dtype: int64

Uniformity of Cell Size
 1     98
10    23
5     12
3     10
2      9
8      8
6      6
4      5
7      3
9      1
Name: Uniformity of Cell Size, dtype: int64

Uniformity of Cell Shape
 1     89
10    18
3     14
4     12
2     12
6      8
5      8
8      7
7      6
9      1
Name: Uniformity of Cell Shape, dtype: int64

Marginal Adhesion
 1     106
10     18
3      14
2      12
4       7
8       6
6       5
7       4
5       2
9       1
Name: Marginal Adhesion, dtype: int64

Single Epithelial Cell Size
 2     100
3      16
4      13
10      9
6       9
1       9
8       8
5       8
7       2
9       1
Name: Single Epithelial Cell Size, dtype: int64

Bare Nuclei
 1.000000     108
10.000000     34
2.000000       7
5.000000       7
8.000000       6
4.000000       5
3.548387       3
3.000000       3
9.000000       1
7.000000       1
Name: Bare Nuclei, dtype: int64

Bland Chromatin
 2     45
3     40
1     39
7     25
5      9
8      5
4      5
9      4
10     3
Name: Bland Chromatin, dtype: int64

Normal Nucleoli
 1     109
10     15
3      11
2       8
5       7
6       6
9       5
8       5
7       5
4       4
Name: Normal Nucleoli, dtype: int64

Mitoses
 1     144
3      11
4       5
2       5
10      4
8       2
7       2
5       2
Name: Mitoses, dtype: int64

In [158]:
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier

In [162]:
X_train = preprocessing.scale(X_train)
X_test = preprocessing.scale(X_test)
X_train.std(axis=0)

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [164]:
lr = LogisticRegression()
sgdc = SGDClassifier()

In [174]:
lr.fit(X_train, Y_train)
lr_y_predict = lr.predict(X_test)

sgdc.fit(X_train, Y_train)
sgdc_y_predict = sgdc.predict(X_test)

In [175]:
from sklearn.metrics import classification_report
print("Logistic Regression Accuracy: ", lr.score(X_test, Y_test))
print(classification_report(Y_test, lr_y_predict, target_names=["Benign", "Malignant"]))
print("\nSGD Classifier Accuracy: ", sgdc.score(X_test, Y_test))
print(classification_report(Y_test, sgdc_y_predict, target_names=["Benign", "Malignant"]))

Logistic Regression Accuracy:  0.965714285714
             precision    recall  f1-score   support

     Benign       0.96      0.98      0.97       112
  Malignant       0.97      0.94      0.95        63

avg / total       0.97      0.97      0.97       175


SGD Classifier Accuracy:  0.977142857143
             precision    recall  f1-score   support

     Benign       0.99      0.97      0.98       112
  Malignant       0.95      0.98      0.97        63

avg / total       0.98      0.98      0.98       175